@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans',arial;
}
img{
    width: 100%;
}
.clr{
    clear: both;
}
a{
    text-decoration: none;
}
/**start grand*/
.grand{
    background-image: url('../img/business-main.jpg');
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}
.grand .parent{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 300px;
}
.grand .parent .item{
    color: white;

}
.grand .parent .item h1{
    font-size: 70px;
    font-family: 'Open Sans',arial;
    margin-bottom: 18px;
    line-height: 1.2em;
}
.grand .parent .item p{
    font-size: 22px;
    line-height: 1.86em;
    margin-bottom: 40px;
    font-family: 'Open Sans',arial;
    font-weight: 400;
}
.grand .parent .btn{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans',arial;
    padding: 15px 28px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.grand .parent .btn-1{
    background-color: #4274b7;
    color: white;
}
.grand .parent .btn-2{
    background-color: #fff;
    margin-left: 12px;
    color: black;
}
@media (max-width:768px){
.grand{
    height: 50vh;
}
.grand .parent{
    width: 100%;
    margin-top: 150px;
}
.grand .parent .item p{
    font-size: 15px;
    padding: 30px;
}
.grand .parent .item h1{
    font-size: 30px;
}
}
@media (max-width:600px){
    .grand .parent{
        width: 100%;
        margin-top: 40px;
    }
}
/**ent grand*/
/**start*/
.icon{
    background-color: white;
} 
.icon .p-icon{
    width: 96%;
    margin: auto;
    padding: 80px;
}
.icon .p-icon .i-icon{
    width: 33.333%;
    float: left;
    padding: 20px;
}
.icon .p-icon .i-icon i{
    font-size: 25px;
    margin: 20px;
}
.icon .p-icon .i-icon span{
    font-weight: 500;
    font-size: 17px;
}
.icon .p-icon .i-icon p{
    margin-left: 69px;
    line-height: 1.8;
    color: #888;
    font-size: 15px;
    font-weight: 400;
}
@media (max-width:768px){
.icon .p-icon{
    width: 100%;
    padding: 60px;
}
.icon .p-icon .i-icon{
    padding: 0;
    width: 50%;
}
.icon .p-icon .i-icon span{
    font-size: 17px;
}
}
@media (max-width:600px){
    .icon .p-icon{
        width: 100%;
        padding: 60px;
    }
    .icon .p-icon .i-icon{
        text-align: left;
        width: 100%;
    }
}
/**end*/
/**start*/
.photo{
    background-color: #f8f8f8;
    font-family: 'Open Sans',arial;
}
.photo .p-photo{
    width: 96%;
    margin: auto;
    padding: 80px;
}
.photo .p-photo .i-photo{
    width: 50%;
    float: left;
    padding: 20px;
    
}
.photo .p-photo .i-photo h2{
    font-size: 30px;
    padding: 20px;
}
.photo .p-photo .i-photo p{
    font-size: 15px;
    line-height: 1.7;
    margin: 20px;
    color: #686868;
}
.photo .p-photo .list{
    margin: 20px;
    line-height: 2.8;
    font-size: 15px;
    font-weight: 400;
    color: #686868;
}
.photo .p-photo .list li i{
    margin-right: 10px;
    color: #4274b7;
}
.photo .p-photo .list li{
    list-style: none;
}
.photo .p-photo .i-photo button{
    background-color: #4274b7;
    color: white;
    padding: 15px 28px;
    margin: 20px;
    border-radius: 5px;
    border: none;
}
@media (max-width:768px){
    .photo .p-photo{
        width: 100%;
    }
    .photo .p-photo .i-photo{
        width: 50%;
    }
    .photo .p-photo .list ul li{

    }
}
@media (max-width:600px){
    .photo .p-photo{
        width: 100%;
        margin: 0%;
        text-align: left;
    }
    .photo .p-photo .i-photo{
        width: 100%;
    }
    .photo .p-photo .i-photo h2{
        padding: 0%;
        margin: 0%;
    }
    .photo .p-photo .i-photo p{
        padding: 0%;
        margin: 0%;
    }
    .photo .p-photo .i-photo ul{
        padding: 0%;
        line-height: 1.3;
        text-align: left;
    }
}
/**end*/
/**start*/
.photo-2{
    background-color: white;
    font-family: 'Open Sans',arial;
}
/**end*/
/**start*/
.our{
    background-color:#f8f8f8 ;
    padding: 80px;
    font-family: 'Open Sans',arial;
}
.our .p-our{
    width: 90%;
    margin: auto;
    text-align: center;
}
.our .p-our i{
    color: #4274b7;
    margin-bottom: 22px;
    font-size: 40px;
    padding-top: 8px;
}
.our .p-our h2{
    margin-bottom: 22px;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 500;
}
.our .p-our p{
    font-size: 17px;
    color: #888;
}
.our .p-our-2{
    width: 90%;
    margin: auto;
}
.our .p-our-2 .i-our{
    width: 25%;
    float: left;
    padding: 20px;
    text-align: center;
}
.our .p-our-2 .i-our i{
    line-height: 60px;
    font-size: 24px;
    margin: 20px;
    background-color: #4274b7;
    color: #fff;
    width: 25%;
    border-radius: 100%;
}
.our .p-our-2 .i-our h3{
    font-size: 15px;
}
.our .p-our-2 .i-our p{
    margin-top: 20px;
    line-height: 1.8;
    font-size: 15px;
    color: #888;
}
@media (max-width:768px){
    .our .p-our-2{
        width: 100%;
    }
    .our .p-our-2 .i-our{
        width: 50%;
    }
}
@media (max-width:600px){
    .our .p-our-2{
        width: 100%;
    }
    .our .p-our-2 .i-our{
        width: 100%;
    }
    .our .p-our p{
        font-size: 15px;
    }
}
/**end*/
/**start*/
.background{
    background-image: url('../img/business-main.jpg');
    height: 75vh;
    background-size: 100% 150%;
}
/**end*/
/**start*/
.finish{
    background-color:#f8f8f8 ;
    font-family: 'Open Sans',arial;
    padding: 80px;
}
.finish .p-finish{
    width: 50%;
    margin: auto;
    text-align: center;
}
.finish .p-finish .i-finish{
    width: 100%;
    float: left;
    padding: 20px;
}
.finish .p-finish .i-finish h2{
    font-size: 32px;
    margin-bottom: 25px;
}
.finish .p-finish .i-finish p{
    margin-bottom: 50px;
    color: #888;
    font-size: 20px;
}
.finish .p-finish .i-finish a{
    padding: 20px 28px;
    background-color: #4274b7;
    color: white;
    border: none;
    border-radius: 5px;
}
@media (max-width:768px){
    .finish .p-finish{
        width: 100%;
    }
}
@media (max-width:600px){
    .finish .p-finish{
        width: 100%;
    }
    .finish .p-finish .i-finish a{
        padding: 10px 18px;
        font-size: 15px;
    }
    .finish .p-finish .i-finish h2{
        font-size: 20px;
    }
    .finish .p-finish .i-finish p{
        font-size: 15px;
    }
}
/**end*/
/**start*/
.end{
    background-color: #162231;
    padding: 80px;
    font-family: 'Open Sans',arial;
}
.end .p-end{
    width: 90%;
    margin: auto;
}
.end .p-end .i-end{
    width: 25%;
    float: left;
    padding: 20px;
}
.end .p-end .i-end h3{
    color: white;
    margin-bottom: 20px;
}
.end .p-end .i-end p{
    color: #58606b;
    line-height: 1.8;
    font-size: 14px;
}
.end .p-end .i-end ul{
    list-style: none;
    color: #58606b;
}
.end .p-end .i-end ul li{
    line-height: 2.3;
    font-size: 14px;
}
.end .p-end .i-end ul li i{
    padding: 0px 10px;
}
@media (max-width:768px){
    .end .p-end{
        width: 100%;
    }
    .end .p-end .i-end{
        width: 50%;
    }
}
@media (max-width:600px){
    .end .p-end{
        width: 100%;
    }
    .end .p-end .i-end{
        width: 100%;
    }
}